div#box-bread-brumb {
    display: none;
}

.head-container {
    border-bottom: 1px solid #B1B1B1;
}

.row:after,
.row:before {
    display: none;
}

.title-category h2 {
    text-transform: uppercase;
    text-align: center !important;
    color: var(--theme-color-2);
    font-weight: 900;
    font-size: 33px !important;
}

article#main-content {
    min-height: 600px;
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    float: unset;
}

a.pull-right {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #4A4951;
}

.title-category {
    position: relative;
}

.backanimado {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    left: 0;
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5), transparent);
    animation: back;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: skewY(7deg);
    animation-fill-mode: backwards;
}

@keyframes back {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}