.newsletter {
    background: var(--theme-color-2);
    padding: 30px 0
}

.newsletter .max-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 950px
}

.newsletter .title {
    font-weight: 700;
    font-size: 18px;
    color: #fff
}

.newsletter .subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    max-width: 290px;
    margin-top: 5px
}

.container-input #email {
    font-weight: 400;
    height: 40px;
    border: 1px solid var(--theme-color-3);
    font-size: 14px;
    padding: 0 20px;
    width: 370px;
    color: var(--theme-color-9);
    margin-right: 16px
}

.container-input #email::-webkit-input-placeholder {
    color: var(--theme-color-1) 0
}

.container-input #email::-moz-placeholder {
    color: var(--theme-color-1) 0
}

.container-input #email:-ms-input-placeholder {
    color: var(--theme-color-1) 0
}

.container-input #email::-ms-input-placeholder {
    color: var(--theme-color-1) 0
}

.container-input #email::placeholder {
    color: var(--theme-color-1) 0
}

.container-input .btn-send {
    font-weight: 700;
    height: 45px;
    background: var(--theme-color-9);
    border: 1px solid var(--theme-color-1);
    font-size: 14px;
    width: 170px;
    text-align: center;
    color: var(--theme-color-3)
}

.container-footer {
    background: var(--theme-color-1);
    padding: 50px 0;
    padding-bottom: 0
}

.container-footer .max-container {
    max-width: 950px
}

.footer-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px
}

.icon-pag-container {
    max-width: 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 7px 1fr 7px 1fr 7px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
    margin-bottom: 60px
}

.dep-links {
    margin-bottom: 30px
}

.dep-links li {
    margin-bottom: 10px
}

a.icon-social {
    display: inline-block;
    margin-right: 20px
}

.dep-links h4 {
    color: var(--theme-color-3);
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase
}

.dep-links a {
    font-weight: 400;
    font-size: 14px;
    color: var(--theme-color-3)
}

.dep-links li a>img {
    margin-right: 10px
}

.container-vinci {
    background: var(--theme-color-1)
}

.container-vinci .max-container {
    border-top: 1px solid var(--theme-color-3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0;
    padding-right: 20px
}

.container-vinci span {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: var(--theme-color-7);
    letter-spacing: 1px
}

.container-vinci .max-container>* {}

.logo-vinci p {
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}

.logo-vinci img {
    width: 90px;
    margin-left: auto;
    display: block;
}

.container-vinci span:last-child p {
    font-weight: 700;
    color: #fff;
    font-size: 9px;
    display: inline-block;
    margin-right: 20px
}

@media all and (max-width:991px) {
    .newsletter .subtitle {
        margin: 0 auto;
        margin-top: 5px
    }
    .newsletter .max-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .container-input #email {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 5px;
        box-sizing: border-box
    }
    .container-input .btn-send {
        width: 100%;
        box-sizing: border-box
    }
}

@media all and (max-width:767px) {
    .newsletter .subtitle {
        margin: 10px auto
    }
    .container-input #email {
        text-align: center
    }
    .container-footer {
        padding: 50px 0
    }
    .footer-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .icon-pag-container {
        margin: 0 auto
    }
    .dep-links {
        margin: 0 auto
    }
    .dep-links {
        margin-top: 20px
    }
    .container-vinci .max-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 20px 0
    }
    .logo-vinci {
        margin: 20px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .logo-vinci p {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px
    }
    .container-vinci span {
        margin: 15px auto
    }
}

@media all and (max-width:767px) {
    .logo-vinci img {
        margin: 0 auto;
    }
}