.portal-notify-me-ref {
    position: absolute;
    z-index: 11;
    background: #fff;
    top: -50px
}

.notifyme.sku-notifyme {
    text-align: center;
    border: unset;
    padding: 10px 5px;
    box-sizing: border-box;
    background: #f5f5f5;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

h3.notifyme-title {
    font-weight: 700;
    color: #999
}

.notifyme-form p {
    font-weight: 300;
    color: #999;
    text-transform: lowercase;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px
}

.notifyme-form input {
    margin: 5px 0;
    box-sizing: border-box;
    width: 80%;
    height: 35px;
    padding: 0 15px;
    font-size: 15px;
    border: 1px solid #ddd;
    font-weight: 300;
    font-style: italic;
    color: #999
}

#notifymeButtonOK {
    display: block!important;
    margin-left: auto;
    margin-right: auto;
    background: #00653b;
    height: 40px;
    border: 0;
    color: #fff
}

.product-image .zoomPad {
    position: relative
}

.product-image .zoomWindow {
    overflow: hidden;
    left: 0!important;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3
}

.product-image .zoomWrapperImage img {
    max-width: none!important
}

.product-image .zoomWrapperTitle {
    display: none!important
}

.item_doesnt_exist {
    opacity: .3;
    cursor: not-allowed
}

.bg-product {
    background: #fff
}

.bread-brumb>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 40px;
    border-bottom: 1px solid var(--theme-color-2);
    padding: 0 10px;
    margin-bottom: 20px
}

.bread-brumb li::after {
    content: '>';
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-9);
    padding: 0 5px
}

.bread-brumb li.last::after {
    display: none
}

.bread-brumb li {
    display: inline-block;
    text-transform: capitalize
}

.bread-brumb a {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-9)
}

.product-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 50px
}

.product-image {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    text-align: center
}

.product-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 450px;
    padding-left: 5px
}

.discount-product {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20
}

.discount-product p {
    background: var(--theme-color-1);
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    color: var(--theme-color-7);
    letter-spacing: 1px;
    padding: 5px 10px
}

.product-image #show {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.product-image #show #include {
    width: 470px;
    height: auto;
    padding: 10px;
    box-sizing: border-box
}

#show #include #image-main {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: contain
}

ul.thumbs {
    max-width: 470px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

ul.thumbs .owl-next {
    right: -10px
}

ul.thumbs .owl-prev {
    left: -10px
}

ul.thumbs li {
    width: 90px;
    height: 90px;
    border: 1px solid var(--theme-color-3);
    padding: 2px;
    box-sizing: border-box;
    margin: 0 auto
}

ul.thumbs li+li {
    margin-left: 10px
}

ul.thumbs img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.product-name .productName {
    font-weight: 700;
    font-size: 24px;
    color: var(--theme-color-12);
    margin-bottom: 10px;
    display: block
}

.product-rating {
    margin-bottom: 20px
}

.product-rating strong {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-6)
}

.valor-de {
    font-weight: 500;
    font-size: 21px;
    color: #707070;
    text-decoration: line-through
}

.valor-por {
    font-weight: 700;
    font-size: 32px;
    color: #3d3972
}

.valor-dividido {
    font-weight: 500;
    font-size: 18px;
    color: #707070
}

.economia-de,
.preco-a-vista {
    display: none!important
}

.buy-button-box {
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.buy-button {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 290px;
    height: 50px;
    line-height: 50px;
    background: var(--theme-color-1);
    text-align: center;
    text-transform: uppercase
}

.pull-left {
    float: unset!important
}

.product-details .sku-selector-container,
.product-details .sku-selector-container ul {
    margin-top: 20px
}

.sku-selector li.specification {
    font-weight: 700;
    font-size: 32px;
    color: #000
}

.product-details .box-qtd {
    position: relative;
    height: 50px;
    max-width: 118px;
    z-index: 10;
    margin-right: 38px;
    box-sizing: border-box;
    border: 1px solid var(--theme-color-2);
    margin-left: 1px
}

.product-details .box-qtd .qtd {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--theme-color-9)
}

.sku-selector li.specification {
    font-weight: 700;
    font-size: 15px;
    color: var(--theme-color-5);
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px
}

.product-details .sku-selector input {
    display: none
}

.product-details .sku-selector label {
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--theme-color-2);
    display: inline-block;
    margin-right: 5px;
    padding: 0 10px;
    color: var(--theme-color-2)
}

.sku-selector label.sku-picked {
    background: var(--theme-color-2);
    color: var(--theme-color-1)
}

.product-details .box-qtd::before {
    content: "Quantidade";
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-12);
    position: absolute;
    left: 0;
    top: -30px
}

.product-details .box-qtd .btn {
    background: #fff;
    border: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    color: var(--theme-color-11);
    width: 30px;
    text-align: center;
    z-index: 999
}

.product-details .box-qtd .btn-mais {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    color: var(--theme-color-11)
}

.product-details .box-qtd .btn-menos {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

.product-details .shipping-box {
    position: relative
}

.shipping-box .close,
.shipping-box .header,
.shipping-box .quantity,
.shipping-box p {
    display: none
}

.shipping-box .prefixo {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-9);
    display: inline-block
}

input#txtCep::-webkit-input-placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    padding: 0 10px;
    color: var(--theme-color-9);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363
}

input#txtCep::-moz-placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    padding: 0 10px;
    color: var(--theme-color-9);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363
}

input#txtCep:-ms-input-placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    padding: 0 10px;
    color: var(--theme-color-9);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363
}

input#txtCep::-ms-input-placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    padding: 0 10px;
    color: var(--theme-color-9);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363
}

input#txtCep,
input#txtCep::placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    padding: 0 10px;
    color: var(--theme-color-9);
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
    border: 1px solid #636363
}

#btnFreteSimulacao {
    background: var(--theme-color-11);
    width: 100%;
    max-width: 196px;
    height: 35px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    margin-top: 5px
}

.freight-values table thead {
    display: none
}

.freight-values table {
    width: 100%;
    margin: 10px 0
}

.freight-values tbody tr td:last-child {
    display: none
}

.freight-values tbody tr td {
    background: #f7f7f7;
    color: #636363;
    padding: 15px;
    font-weight: 300;
    font-size: 18px;
    text-align: center
}

.freight-values tbody tr td:first-child,
.freight-values tbody tr td:nth-child(2) {
    border-right: 1px solid #fff;
    text-align: center
}

span.cep-busca a {
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--theme-color-9);
    display: block;
    font-size: 13px
}

.product-description {
    margin-top: 80px;
    margin-bottom: 60px
}

.item-descrip {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.item-descrip li {
    background: #ebebeb;
    margin-right: 4px;
    height: 40px;
    line-height: 40px;
    width: 260px;
    text-align: center;
    -webkit-transition: .1s;
    transition: .1s
}

.item-descrip li a {
    color: var(--theme-color-12);
    font-weight: 700;
    font-size: 14px
}

.product-desc-container {
    background: #fff;
    padding: 20px 25px;
    min-height: 200px
}

.item-descrip li.item-desc-active {
    color: var(--theme-color-1) 0;
    font-weight: 700;
    border-bottom: 5px solid var(--theme-color-2);
    background: #fff;
    font-size: 18px;
    padding: 3px 0
}

ul.item-descrip li.item-desc-active a {
    font-size: 18px
}

#descricao {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-9)
}

#descricao p+p {
    margin-top: 10px
}

div#avaliacao,
div#especificacao {
    display: none
}

div#caracteristicas>h4 {
    display: none
}

@media all and (max-width:991px) {
    .product-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .product-image {
        margin: 0 auto;
        margin-bottom: 20px
    }
    .product-info {
        margin: 0 auto;
        text-align: center
    }
    .avalie-produto {
        top: 250px
    }
    ul#ulPubliqueResenha {
        top: 300px
    }
    .buy-button-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center!important;
        -webkit-justify-content: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important
    }
    .box-qtd {
        margin: 0 auto!important;
        margin-bottom: 20px!important
    }
    .box-qtd::before {
        text-align: center;
        margin: 0 auto;
        right: 0
    }
    input#txtCep::-webkit-input-placeholder {
        max-width: 245px
    }
    input#txtCep::-moz-placeholder {
        max-width: 245px
    }
    input#txtCep:-ms-input-placeholder {
        max-width: 245px
    }
    input#txtCep::-ms-input-placeholder {
        max-width: 245px
    }
    input#txtCep,
    input#txtCep::placeholder {
        max-width: 245px
    }
}

@media all and (max-width:767px) {
    .item-descrip {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .item-descrip li {
        margin-right: unset;
        width: 100%;
        margin-bottom: 10px
    }
    #btnFreteSimulacao {
        display: block;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        float: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        position: static
    }
    input#txtCep::-webkit-input-placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
    input#txtCep::-moz-placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
    input#txtCep:-ms-input-placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
    input#txtCep::-ms-input-placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
    input#txtCep,
    input#txtCep::placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%
    }
}

@media all and (max-width:567px) {
    .shipping-box .prefixo {
        width: 100%
    }
    .product-image #show #include {
        width: 100%;
        height: auto
    }
    ul.thumbs {
        display: block;
        max-width: 200px !important;
    }
    .product-name .productName {
        font-size: 25px
    }
    .valor-de {
        font-size: 20px
    }
    .valor-por {
        font-size: 24px
    }
    .bread-crumb li a {
        font-size: 12px
    }
}