.box-item {
    margin: 0 auto;
    background: #fff;
    width: calc(100% - 10px);
    box-sizing: border-box;
    display: block;
    padding: 0 15px;
    padding-bottom: 10px;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 80px;
    border: 4px solid #fff;
    border-bottom: unset
}

.box-item:hover {
    border-bottom: unset;
    border: 4px solid var(--theme-color-1)
}

.box-item .product-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.box-item .product-image img {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
    object-fit: contain
}

.box-item .product-name {
    display: block;
    height: 45px;
    overflow: hidden;
    margin-bottom: 15px
}

.box-item .product-name a {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-6)
}

.box-item .old-price {
    display: block;
    font-weight: 500;
    font-size: 14px;
    height: 17px;
    color: #707070;
    text-decoration: line-through
}

.box-item .best-price {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #3d3972;
    height: 24px
}

.box-item .installment {
    font-weight: 500;
    font-size: 15px;
    color: #707070;
    height: 17px;
    margin-bottom: 10px;
    display: block
}

.out-of-stock,
.wrapper-buy-button-asynchronous a {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    height: 40px;
    display: block;
    text-align: center;
    width: calc(100% + 8px);
    background: var(--theme-color-1);
    left: 0;
    margin-left: -4px;
    line-height: 40px;
    border: 0;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s
}

.box-item:hover .out-of-stock,
.box-item:hover .wrapper-buy-button-asynchronous a {
    visibility: visible;
    opacity: 1
}

.title-vitrine {
    display: block;
    margin-bottom: 32px;
    color: var(--theme-color-1)
}

.title-vitrine p {
    font-weight: 700;
    font-size: 24px;
    color: var(--theme-color-11);
    text-align: center
}

.vitrine-css .owl-next {
    right: -10px!important
}

.vitrine-css .owl-prev {
    left: -10px!important
}

.box-item .discount {
    position: absolute;
    top: 0;
    right: 0
}

.box-item .discount p {
    background: var(--theme-color-1);
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
    color: var(--theme-color-7);
    letter-spacing: 1px;
    padding: 5px 10px
}

#divCompreJunto table {
    margin: auto
}

#divCompreJunto table {
    margin-bottom: 30px
}

#divCompreJunto tbody {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

#divCompreJunto tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

#divCompreJunto tr {
    background: #fff;
    margin-top: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-sizing: border-box;
    padding: 0 15px;
    height: 200px
}

#divCompreJunto td {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

#divCompreJunto td {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box
}

#divCompreJunto a {
    font-size: 14px;
    color: #8798a4;
    font-weight: 700
}

#divCompreJunto td a {
    margin: auto
}

#divCompreJunto .equal,
#divCompreJunto .plus {
    display: block;
    font-size: 19px;
    color: #8798a4;
    font-weight: 700;
    line-height: 170px;
    text-align: center;
}

#divCompreJunto .buy {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 200px
}

#divCompreJunto .buy strong {
    font-size: 14px;
    color: var(--theme-color-1);
    height: 24px
}

#divCompreJunto .buy br+strong {
    font-size: 14px
}

#divCompreJunto .comprar-junto {
    background: var(--theme-color-1);
    margin-top: 40px;
    text-align: center;
    padding: 10px 5px
}

#divCompreJunto .comprar-junto a {
    color: #fff;
    font-size: 16px
}

#divCompreJunto .more,
hr.buy-together {
    display: none
}

@media only screen and (max-width:768px) {
    #divCompreJunto tr {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }
    #divCompreJunto .equal,
    #divCompreJunto .plus {
        display: none
    }
}

.vitrine-acessorios {
    position: relative
}

.vitrine-acessorios .vitrine ul {
    width: 536px
}

.vitrine-acessorios .box-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
    border: 0;
    margin-bottom: 0
}

.vitrine-acessorios .box-item .installment {
    display: none
}

.vitrine-acessorios input {
    background: #fff;
    border: 0;
    padding: 0;
    position: relative;
    left: -20px
}

.vitrine-acessorios fieldset {
    width: 170px;
    height: 30px;
    position: relative;
    top: -30px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    right: -160px;
    color: #202020;
    font-size: 16px;
    background: #ddd;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.vitrine-acessorios .box-item .product-image {
    height: 150px;
    max-width: 150px;
    margin-right: 10px
}

.vitrine-acessorios .box-item .product-name {
    margin-bottom: unset;
    margin-top: 5px;
    height: unset
}

.vitrine-acessorios .product-image img {
    width: 100%!important;
    height: 100%!important
}

.vitrine-acessorios .box-item:hover {
    border: unset
}

.vitrine-acessorios .box-preco-atualizado {
    position: absolute;
    top: 60px;
    right: 0;
    min-width: 300px;
    color: #fff;
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background: #fff
}

.vitrine-acessorios .out-of-stock,
.vitrine-acessorios .wrapper-buy-button-asynchronous a {
    opacity: 1;
    visibility: visible;
    width: 100%;
    margin: 0
}

.vitrine-acessorios .wrapper-buy-button-asynchronous a {
    position: absolute;
    right: 0;
    width: 200px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-left: auto;
    top: calc(100% - 30px)
}

.vitrine-acessorios dt {
    color: #202020;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.vitrine-acessorios dd.selected-value {
    color: var(--theme-color-1);
    letter-spacing: 1px;
    font-size: 22px
}

.vitrine-acessorios .btn-batch-buy {
    margin-top: 20px;
    display: block;
    height: 40px;
    background: var(--theme-color-1);
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

@media (max-width:991px) {
    .vitrine-acessorios .box-preco-atualizado {
        position: static;
        margin: 0 auto
    }
    .vitrine-acessorios .vitrine ul {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px
    }
    .vitrine-acessorios .product-image {
        margin: 0
    }
    .vitrine-acessorios .wrapper-buy-button-asynchronous a {
        top: calc(100% - 0px);
        width: unset
    }
    .vitrine-acessorios fieldset {
        width: 100%;
        position: static;
        margin-bottom: 20px
    }
}

@media (max-width:567px) {
    .vitrine-acessorios .box-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}